.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    grid-template-rows: repeat(3,150px) 20px;
}

.box{
    background-color:gray;
}
#box-1{
    grid-row:span 5;
}
#box-11, #box-12{
    grid-column:span 3;
}
#box-5{
    background-color:red;
    border-radius:10px;
    text-align:center;
}
#box{
    text-align:center;
}